<div class="links_tab">
	<div class="tab-tit">
		<a onclick="msg(0,'友链申请功能暂未开放!')" target="_blank" rel="nofollow"
			class="zii">申请链接</a>
		<div class="za">
			{php $tags=tag("table=type&condition=item='link'&order=typeid asc&template=null");}
			{loop $tags $key $val}
			<li onmouseover="setTab('ous',{$key+1},3)" id="ous{$key+1}" class="{if $key==0}hover{/if}">
				{if $key==0}
				<a href="" rel="nofollow" target="_blank">{$val[typename]}</a>
				{else}
				{$val[typename]}
				{/if}
			</li>
			{/loop}
		</div>
	</div>
	<div class="tab-show">
		{php $tags1=tag("table=type&condition=item='link'&order=typeid asc&template=null");}
		{loop $tags1 $key1 $val1}
		<div class="tab-cont-1 fl-clr" id="con_ous_{$key1+1}" style="display:{if $key1!=0}none{else}block{/if};">
			{php $tags2=tag("table=link&condition=typeid='".$val1['typeid']."'&order=typeid desc&template=null");}
			{loop $tags2 $key2 $val2}
			<a href="{$val2[linkurl]}" target="_blank" title="{$val2[title]}">{$val2[title]}</a>
			{if $key2==count($tags2)}<span>|</span>{/if}
			{/loop}
		</div>
		{/loop}
	</div>
</div>
