<div class="nav_mu">
	<div class="wrap">
		<div class="fl cat_nav">
			<div class="cat_mall"><i></i>热门产品行业</div>
			<!--左侧分类-->
			<div class="category_new">
				<ul>
					<!-- 左侧产品列表 -->
					{php $tags=tag("table=category&condition=moduleid=16 and level=1&pagesize=14&order=catid asc&template=null");}
					{loop $tags $key $val}
					<li class="cate-item">
						<div class="cate-con">
							<i class="icon icon-{$key+1}"></i>
							<a href="/{$MODULE[16][module]}/bussness.p hp?catid={$val[catid]}" title="{$val[catname]}" target="_blank" data-scode="831">{$val[catname]}</a> <i
								class="icon_s arrow"></i>
						</div>
						<div class="cate-more">
							<div class="cm-left">
								<div class="cm-head"><a href="/{$MODULE[16][module]}/bussness.php?catid={$val[catid]}" target="_blank" class="cm-more">点击更多</a><i
										class="icon icon-v{$key+1}"></i><a href="/{$MODULE[16][module]}/bussness.php?catid={$val[catid]}" target="_blank" title="{$val[catname]}"
										data-scode="831">{$val[catname]}</a></div>
								<div class="cm-main">
									{php $tags1=tag("table=category&condition=parentid='".$val[catid]."' and level=2&order=catid asc&template=null");}
									
									{loop $tags1 $key1 $val1}
										<div class="cm-row">
											<div class="cm-name"><a href="/{$MODULE[16][module]}/comlist.php?catid={$val1[catid]}" title="{$val1[catname]}" target="_blank">{$val1[catname]}</a></div>
											<ul class="cm-list">
												{php $tags2=tag("table=category&condition=parentid='".$val1[catid]."' and level=3&order=catid asc&template=null");}
												
												{loop $tags2 $key2 $val2}
													<li><a href="/{$MODULE[16][module]}/goodlist.php?catid={$val2[catid]}" title="{$val2[catname]}" target="_blank">{$val2[catname]}</a></li>
												{/loop}
											</ul>
										</div>
									{/loop}
								</div>
							</div>
							<div class="cm-right">
								<ul>
									<!--对应当前分类的公司推荐1-->
									
									<li>
										{php $tags3=tag("table=mall_16&condition=mycatid='".$val[catid]."' and level=4&pagesize=3&group=brand&order=catid asc&template=null");}
										{loop $tags3 $key3 $val3}
											<div class="cm-cpy">
												<h2><a href="/{$MODULE[16][module]}/prolist.php?comname={$val3[brand]}" target="_blank">{dsubstr($val3[brand], 25, '...')}</a>
												
												</h2>
												
												
												<p class="cm-tag">
													{php $tags4=tag("table=mall_16&condition=brand='".$val3[brand]."' and mycatid='".$val[catid]."' and level=4&pagesize=6&order=itemid asc&template=null");}
													{loop $tags4 $key4 $val4}
														<a href="/{$MODULE[16][module]}/show.php?itemid={$val4[itemid]}" target="_blank" title="{dsubstr($val4[title], 12, '...')}">{dsubstr($val4[title], 12, '...')}</a>
													{/loop}	
												</p>
											</div>
										{/loop}	
									</li>
									
								</ul>
							</div>
						</div>
					</li>
					{/loop}
					
				</ul>
			</div>
		</div>
		<ul class="nav-mu-li fl">
			
			<li class="muli d1"><a href="/" target="_blank" class="hover">首页</a></li>
			<?php $menuArray = ['16','5','6','17','8','21','22','13','9','10','11','18'];?>
			{loop $MODULE $m}
				{if $m[ismenu] && !$m[islink] && in_array($m[moduleid],$menuArray,true)}
					<li class="muli d16 {if $m[moduledir]== 'mall' || $m[moduledir]== 'buy' || $m[moduledir]== 'exhibit' || $m[moduledir]== 'job'}pr{/if}">
						<a href="/{$m[moduledir]}">{$m[name]}</a>
						{if $m[moduledir]== 'mall' || $m[moduledir]== 'buy'}
							<div class="icon-hot"></div>
						{/if}
						{if $m[moduledir]== 'exhibit' || $m[moduledir]== 'job'}
							<div class="icon-new"></div>
						{/if}
					</li>
				{/if}
			{/loop}
		</ul>
	</div>
	<div class="clearfix"> </div>
</div>
